# General
.DS_Store
.vscode/
.idea/
*.log
**/*.log

# Environment Variables
*.env
*.env.local
*.env.*.local

# Node (Root and Subdirectories)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python (Root and Subdirectories)
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Docker
.docker/

# OS
Thumbs.db
Desktop.ini
